/* shared */

body {
    background-image: url('../img/Artboard_1.png');
    color: yellow;
}

div {
    /* border: 1px solid red; */
}

.reimu_back img {
    height: 100px;
}

.reimu_back:hover {
    opacity: 0.7;
}


.main {
    /* border: 6px white dotted; */
    margin: auto;
    margin-top: 5vh;

    /* padding: 7px; */
    padding: 105px;

    /* height: 972px; */
    /* width: 1728px; */

    height: 864px;
    width: 1536px;

    background-image: url('../img/bg_main.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#cns_wrapper {
    margin-top: 3vh;
    /* border: blue 4px solid; */
    /* height: 15vh; */
    text-align: right;
}

#cns {
    margin-left: auto;
    /* position: fixed; */
    /* right: 0%;
    bottom: 0%; */

    margin-bottom: 5vh;
    margin-right: 5vw;
}

.changeV {
    height: 150px;
}






















/* index.html */

.index {
    /* border: 6px white dotted; */
    margin: auto;
    /* margin-top: 5vh; */

    /* height: 56.25vw;
    width: 100vw; */
    height: 50.625vw;
    width: 90vw;

    background-image: url('../img/bg_index.png');
    background-repeat: no-repeat;

}

#center_navi_container {
    height: 100%;
    display: flex;
    /* margin: auto; */
}

#center_navi {
    height: 100%;
    margin: auto;
}

.cell_content {
    height: 16.875vw;
    width: 16.875vw;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}


.cell_content_w_animation img {
    /* scale: 1.1; */
    max-width: 15vw;
    position: absolute;
}

.cell_content_w_animation {
    color: purple;
    padding: 50px;
    border-radius: 50%;
}

.index_message{
    /* border: 4px red solid; */
    width: 90vw;
    position:absolute;
    color: white;
    font-weight: 100;
    margin: auto;
    text-align: center;
}


























/* Message.html */
#messages_scroll_container {
    padding: 0 00px;
    height: 100%;
    
}

#message_scroll {
    /* border: 6px solid blue; */
    /* max-height: calc(90vh - 300px); */
    height: 100%;
    overflow-y: scroll;
    text-align: center;
}



#message_scroll::-webkit-scrollbar {
    width: 10px;
    border-radius: 9999px;
}

#message_scroll::-webkit-scrollbar-thumb {
    background-color: rgba(183, 189, 231);
    border-radius: 9999px;
}

#message_scroll::-webkit-scrollbar-track {
    /* background-color: #1e2530; */
    background-color: hsla(0, 0%, 100%, .7);
    border-radius: 9999px;
}




#message_list {
    /* border: 3px solid green; */

    margin: auto;
    display: flexbox;

}






.card {
    border: none;
    text-align: start;

    /* color: black; */
    /* background: rgba(183, 189, 231); */
    width: 400px;
    height: 305px;

    /* border: 4px solid yellow; */

    margin: 5px;

    white-space: pre-line;
    font-weight: 400;

    display: inline-block;
}

.card_text {
    /* border: yellow 4px solid; */

    /* margin-top: 30px; */
    z-index: 2;
    white-space: pre-line;
    font-weight: 600;
    /* padding: 5px 10px; */
    /* background-color: hsla(0, 0%, 100%, .7); */
    border-radius: 10px;
    position: relative;

    overflow-y: auto;

}


.card_text::-webkit-scrollbar {
    width: 5px;
    border-radius: 9999px;
}

.card_text::-webkit-scrollbar-thumb {
    background-color: #7E4EAC;
    border-radius: 9999px;
}

.card_text::-webkit-scrollbar-track {
    background-color: #1e2530;
    border-radius: 9999px;
}







#message_navi_container {
    height: 20%;
    width: 1536px;
    margin: auto;
}


#message_navi {
    
    margin: auto;
    display: flex;

    text-align: center;
}


#message_navi_home {
    width: 1536px;
    height: 100px;
    /* text-align: center; */
    margin: auto;
}





@media screen and (max-width: 600px) {
    #messages_scroll_container {
        padding: 0 10px;
    }

    #message_scroll::-webkit-scrollbar {
        width: 5px;
        border-radius: 9999px;
    }


    .card_text {
        height: 100%;
    }

    .card {
        width: 90%;
    }
}























/* credits.html*/
#credits_main {}

.ui-widget-content {
    /* background: none; */
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */
/* Twitter */
.fa-twitter {
    background: blue;
    color: white;
}

/* Youtube */
.fa-youtube {
    background: red;
    color: white;
}

/* Github */
.fa-github {
    background: black;
    color: white;
}

/* Ko-Fi */
.fa-coffee {
    background: white;
    color: red;
}

/* instagram */
.fa-instagram {
    background: white;
    color: black;
}




































#aggie_container {

    height: 100%;
    /* background-image: url('../img/aggieBoard.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}





































/* project.html */

#project_main {
    display: flex;
    color: white;
}

.project_col {
    height: 70vh;
    /* border: solid red 3px; */
    position: sticky;

    margin-top: 7vh;
}

#project_col1 {
    width: 8vw;
}

#project_col2 {
    width: 18vw;
    text-align: start;
}

#project_col3 {
    width: 60vw;
    height: 100vh;

    margin-top: 0vh;
    padding: 7vh 0vh 23vh 0vh;
    
    overflow: hidden;

}
#project_col3_scroll{
    padding: 7vh 0vh 23vh 0vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

.project_col3_dashed {
    display: inline-block;
    position: relative;
    background-color: #5a3872;
    border-radius: 20px;
    border: dashed 7px white;
    padding: 7px;

    margin-bottom: 100vh;
}

.project_col3_dotted {
    height: 100%;
    width: 100%;
    border: dotted 4px white;
    border-radius: 9px;
    padding: 70px;
}

.project_col3_content{
    /* border: red 3px dotted; */
    text-align: center;
}



.embed_container {
    /* border: yellow 2px solid; */
    width: 100%;
    height: 100%;
}



/* #project_col4 {
    width: 3vw;
    border: solid red 3px;
} */
.dot {
    /* width: 3vh; */
    /* height: 3vh; */
    /* margin: auto; */
    margin-top: 1vh;
    text-align: center;
    /* border: solid red 3px; */
    background-color: white;
    color: black;
    border-radius: 0.5vw;
}

.dot:hover{
    opacity: 0.6;
}

#project_col5 {
    /* border: solid red 3px; */

    padding-top: 4vh;
    padding-left: 1vh;

    width: 12vw;
    height: 90vh;

    text-align: right;
}

.project_dot_n_title{
    display: inline-table;
    text-align: left;
}

.project_reimu_back {
    position: absolute;
    bottom: 0;
    right: 0;
}


.box_corner {
    /* border: solid yellow 3px; */
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;

    position: absolute;
}

.box_topleft {
    background-image: url(../img/box_corner_topleft.png);
    top: 25px;
    left: 25px;
}

.box_topright {
    background-image: url(../img/box_corner_topright.png);
    top: 25px;
    right: 25px;
}

.box_bottomleft {
    background-image: url(../img/box_corner_bottomleft.png);
    bottom: 25px;
    left: 25px;
}

.box_bottomright {
    background-image: url(../img/box_corner_bottomright.png);

    bottom: 25px;
    right: 25px;
}

.temp_messsage_img{
    margin: 10px;
    width: 300px;
}